.container_projects {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.container_projects h3 {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 125%;
  letter-spacing: 0.02em;
  color: #292F36;
}

.container_projects p {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #4D5053;
}

.photo_container1 {
  display: flex;
  flex-direction: row;
  width: 45%;
}

.block1 {
  display: flex;
  flex-direction: row;
}

.picture_block {
  display: flex;
  flex-direction: column;
}

.picture_block2 {
  display: flex;
  flex-direction: column !important;
}
/* .photo_container2 {
  display: flex;
  flex-direction: row;
  width: 45%;
} */


.header {
font-family: 'DM Serif Display';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 125%;
color: #292F36;
}
