.container {
  display: flex;
  position: relative;
  max-width: 1200px;
}

.image {
  border-radius: 70px;
  width: -webkit-fill-available;
}

.content {
  position: absolute;
  bottom: 350px;
  left: 50px;
  width: 434px;
  height: 162px;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #4D5053;
}

.content__header {
  font-family: 'DM Serif Display', sans-serif;
  font-style: normal;
  flex-direction: row;
  font-weight: 400;
  font-size: 65px;
  line-height: 125%;
  color: #292F36;
  margin-bottom: 18px;
}

.content__text {
  margin-bottom: 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #4D5053;
}
