.card {
  display: flex;
  flex-direction: column;
  color: #292F36;
  font-family: 'Jost', sans-serif;
  border-radius: 25px;
  padding: 53px 37px 0;
  background: #ffffff;
}

.image {
  border-radius: 50%;
}

.card__content {
  display: flex;
  gap: 23px;
  align-items: center;
  margin-bottom: 25px;
}

.card__content img {
  max-width: 77px;
  max-height: 77px;
}

.card__content h3 {
  margin: 0;
  font-family: 'DM Serif Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
}

.card__content p {
  margin: 0;
  font-family: 'DM Serif Display', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
}

.card__text {
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  color: #4D5053;
}
