.container_quote {
  position: relative;
  margin-top: 150px;
}


.container_img1 {
  position: absolute;
  top: 0;
  left: 521px;;
}

.container_img2 {
  position: absolute;
  top:0;
  left: 1208px;
}

.container_text {
  display: flex;
  width: 751px;
  left: 100px;
  flex-direction: column;
  align-items: center;
  display: flex;
  text-align: center;
}

.container_text h3 {
  font-family: 'DM Serif Display', sans-serif;
  font-style: normal;
  flex-direction: row;
  font-weight: 400;
  font-size: 35px;
  line-height: 125%;
  color: #292F36;
  margin:0;
}
.container_text p {

}
