form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 2.5fr;
  gap: 0px 02px;
  grid-template-areas:
    "Name Email"
    "Hello\.\.\. Hello\.\.\.";
}


.form_container_main h3 {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 125%;

  /* display: flex;
  align-items: center;
  text-align: center; */
  letter-spacing: 0.02em;

  color: #292F36;
}
