.content {
  width: 1201px;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 880px;
  margin: 0 auto;
  border: 1px solid #CDA274;
  border-radius: 18px;
  margin-bottom: 30px;
  height: 75px;
}

.tabs button {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #292F36;
  padding: 20px;
  height: inherit;
}

.images {
  width: 1201px;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.images__left {
  display: flex;
  flex-direction: column;
/* row-gap: 40px; */
}

.images__right {
  display: flex;
  flex-direction: column;
/* row-gap: 40px; */
}

.images__image1 {
  height: 853px;
}

.images__image2 {
  height: 522px;
}

.active {
  background-color: #CDA274;
  border-radius: 18px;
  color: #FFFFFF !important;
}

.images h3 {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 125%;
  color: #292F36;
}

.images p {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  color: #4D5053;
}

.text {
  padding: 25px 0;
}
