.counter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 150px;
  background-color: #F4F0EC;;
}

.counter1 {
  display: flex;
  flex-direction: row;
}

h3 {
  color: #CDA274;
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 85px;
  line-height: 125%;
/* or 106px */

  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
}

img {

}

p {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  align-items: center;
  letter-spacing: 0.01em;
  color: #4D5053
}
