.counter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 150px;
  margin-top: 150px;
  background-color: #F4F0EC;;
}

h3 {

  color: #CDA274;
  font-family: 'DM Serif Display';
font-style: normal;
font-weight: 400;
font-size: 85px;
line-height: 125%;
/* or 106px */

display: flex;
align-items: center;
letter-spacing: 0.02em;
}
