.counter {
  max-height: 457px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: row;
  justify-content: space-between; */
  width: 100%;
  margin-top: 150px;
  background-color: #F4F0EC;
}

.counter_inner {
  display: flex;
  flex-direction: row;
  padding: 151px 0;
  gap: 50px;
  align-items: center;
}

.counter_inner_item h3, p {
  margin: 0;
  padding: 0;
}

.counter_inner_item {
  text-align: center;
}

h3 {
  color: #CDA274;
  font-family: 'DM Serif Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 85px;
  line-height: 125%;
  letter-spacing: 0.02em;
}

img {

}

p {
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  align-items: center;
  letter-spacing: 0.01em;
  color: #4D5053
}
