/* @import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap'); */

/*@font-face {*/
/*  font-family: 'Jost Bold';*/
/*  src:  url('../../assets/Jost-Bold.ttf') format('ttf');*/
/*}*/

/*@font-face {*/
/*  font-family: 'DM Serif Regular';*/
/*  src: url('../../assets/DMSerifDisplay-Regular.ttf') format('tff');*/
/*}*/

.container {
  margin: 35px;
}

.container__subcontent {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Jost', sans-serif;
  color: red;
  margin: 200px auto;
}

.container__subcontent p {
  font-family: 'DM Serif Display', serif;
  max-width: 70%;

}

.container_button {
  max-width: 20px;
  font-family: 'Arial Narrow Bold', sans-serif
}

.container_review {
  display: flex;
  width: 1199px;
  left: 361px;
  top: 2434px;
  background-color: #F4F0EC;
  border-radius: 70px;
  font-family: 'Jost', sans-serif;


}

.container h2 {
font-family: 'DM Serif Display', serif;
text-align: center;
letter-spacing: 0.02em;
color: #292F36;
font-weight: 400;
font-size: 50px;
line-height: 125%;
}

.cards {
  display: flex;
align-content: space-between;
width: 33%;
height: 339px;
background: #FFFFFF;

}
