.container {
  margin: 35px;
}

.container__subcontent {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Jost', sans-serif;
  margin: 200px auto;
}

.container__subcontent p {
  font-family: 'DM Serif Display', serif;
  max-width: 70%;

}

.container_button {
  max-width: 20px;
  font-family: 'Arial Narrow Bold', sans-serif
}

.container_review {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 150px auto;
  max-width: 1199px;
  background: #F4F0EC;
  border-radius: 70px;
  font-family: 'Jost', sans-serif;
  padding: 88px 24px;
}

.container h2 {
  font-family: 'DM Serif Display', serif;
  text-align: center;
  letter-spacing: 0.02em;
  color: #292F36;
  font-weight: 400;
  font-size: 50px;
  line-height: 125%;
}

.cards {
  display: flex;
  gap: 20px;
  height: 339px;
}
