.container {
  max-width: 1200px;
  margin: 0 auto;
}

.subcontent {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Jost', sans-serif;
  margin: 50px auto;
}

.subcontent a {
  font-family: 'DM Serif Display', serif;
  text-align: center;
  letter-spacing: 0.02em;
  color: #4D5053;
  font-weight: 400;
  font-size: 22px;
  line-height: 125%;
  text-decoration: none;
}

.content p {
  font-family: 'DM Serif Display', serif;
  max-width: 70%;

}

.container_button {
  max-width: 20px;
  font-family: 'Arial Narrow Bold', sans-serif
}

.container_review {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1199px;
  background: #F4F0EC;
  border-radius: 70px;
  font-family: 'Jost', sans-serif;
  padding: 88px 24px;
}

.container_review__title {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 125%;
  letter-spacing: 0.02em;
  color: #292F36;
  margin: 0 auto 38px;
  text-align: center;
}

.cards {
  display: flex;
  gap: 20px;
  height: 339px;
}

.articles {
  margin: 150px 0 52px 0;
  text-align: center;
}

.articles__title {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 125%;
  letter-spacing: 0.02em;
  color: #292F36;
}

.articles__subtitle {
  margin: 12px auto 0;
  max-width: 811px;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #4D5053;
}
