.container_team_main {
  display: flex;
  width: 1920px;
  height: 968px;
  background: #F4F0EC;
  margin-top: 150px;
  justify-content: space-evenly;

}
.container_team_main h3 {
  margin: 0;
  font-family: 'DM Serif Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 125%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #292F36;}

.container_team__card_container {
  flex-direction: row;
  justify-content: space-evenly;
}

.container_team__card_container img {
  border-radius: 30px;
}

.card {
  /* border: 1px solid red; */
  cursor: pointer;
  position: relative;
  animation: 0.3ms all;
  /* transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
  backface-visibility: hidden; */
}

.card__info {
  position: absolute;
  top: 70px;
  left: 28.75px;
  bottom: 125px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  /* transform: translateX(-100%) rotateY(-180deg);
  transform: rotateY(180deg); */
}

.card__info__top {
  flex-direction: column;
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;
  color: #292F36;
}

.card__info__middle {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
}

.card:hover .card__image {
  opacity: 0;
  /* transform: translateX(-100%) rotateY(-180deg); */
}

.card:hover .card__info {
  opacity: 1;
  /* transform: translateX(-100%) rotateY(-180deg); */
}
