.container {
    margin: 0 auto;
    width: 100%;
    position: relative;
  }
  
  .banner {
    max-width: 100%;
  }
  
  .container__text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 37px 37px 0 0;
    text-align: center;
    background-color: white;
    width: 100%;
    max-width: 503px;
    height: 178px;
  }
  
  .container__text h3 {
    font-family: 'DM Serif Display', sans-serif;
    font-style: normal;
    flex-direction: row;
    font-weight: 400;
    font-size: 65px;
    line-height: 125%;
    color: #292F36;
    margin: 0;
  }
  
  .container__text p {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #4D5053;
  }
  