.container {
  display: flex;
  flex-direction: column;
  color: #292F36;
  font-size: 20px;
  line-height: 125%;
}

.container h2 {
  font-family: 'DM Serif Display', serif;
}

.text {
  font-family: 'Jost', sans-serif;
}
