.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 50px;
  margin: 44px auto 57px;
}

.logo {
  max-height: 50px;
}

.nav {
  margin-left: auto;
  margin-right: 20px;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  color: #292F36;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 125%;
}
