body {
  font-family: Jost;
}

code {
  font-family: Jost;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 45px auto;
}

.container__subcontent {
  display: flex;
  justify-content: space-between;
}
