.container_main {
display: flex;
flex-direction: column;
background-color: #292F36;
align-items: center;
padding: 80px 315px;
gap: 10px;
height: 374px;
border-radius: 70px;
margin-top: 150px;
}

.container_contacts {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.container_contacts h3 {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
}

.container_contacts p {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  /* identical to box height, or 33px */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}

.container_contacts span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    width: 220.14px;
    height: 75px;
    color: white;
    border-radius: 20px;
    margin-left: 60px;
    background: #CDA274;
}
