.work {
  background: #F4F0EC;
  border-radius: 70px;
  max-width: 967px;
  width: 100%;
  padding: 160px 115px;
}

.container_work_main__text {
  margin-bottom: 100px;
}

.container_work_main__text h2 {
  text-align: center;
  font-family: 'DM Serif Display', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 125%;
  color: #363B41;
}

.container_work_main__text p {
  margin: 0 auto;
  height: 66px;
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.01em;
  color: #4D5053;
}

.container_work_main__picture_block {
  display: flex;
  gap: 51px;
  flex-direction: row;
  justify-content: space-between;
}

.custom {
  flex-direction: row-reverse;
}

.container_work_main__picture_block__left {
  width: 50%;
}

.container_work_main__picture_block__left img {
  border-radius: 0px 70px 0px 250px;
}

.container_work_main__picture_block__right {
  padding: 85px 0;
}

.container_work_main__picture_block__right__middle h3 {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 125%;
  text-align: center;
  color: #292F36;
}

.container_work_main__picture_block__right__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.container_work_main__picture_block__right__top h2 {
  margin: 0;

font-family: 'DM Serif Display';
font-style: normal;
font-weight: 400;
font-size: 120px;
line-height: 125%;
/* or 150px */

display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}

.container_work_main__picture_block__right__middle p {

  font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 150%;
/* or 33px */

display: flex;
align-items: center;
letter-spacing: 0.01em;

color: #4D5053;

}

.container_work_main__picture_block__right__middle h2 {
  font-family: 'DM Serif Display';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 125%;
/* identical to box height, or 44px */

text-align: center;

color: #292F36;
}
