.btn {
  height: 75px;
  width: 220px;
  padding: 25px;
  border-radius: 18px;
  color: #ffffff;
  font-size: 18px;
  line-height: 125%;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
}

.content {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
  max-width: 170px;
}

.btn_default-blue {
  background-color: #292F36;
}

.btn_default-yellow {
  background-color: #CDA274;
}

.img {
  height: 20px;
  margin-left: 10px;
}
